<h1> Tricky Test </h1>

<p>
  <%= link_to 'Добавить новый тест', new_test_path %>

<table>
  <tr>
    <th>Title</th>
    <th>Level</th>
    <th>Questions count</th>
    <th>Category</th>
    <th>Author</th>
    <th colspan="3">Actions</th>
    <th> 
  </tr>

  <%= render @tests %>
</table>